# #1 Data acquisition - requests

In [1]:
import requests
import pandas as pd

In [2]:
URL = "https://assets.datacamp.com/production/repositories/4296/datasets/8f6b478697a8d05e10b7d535af67154549a4f38f/environ_MS83200MS_airtemp_600_30r.json"

r=requests.get(URL)
data=r.json()
print(data)

[{'timestamp': 1535764800000, 'value': 15.8}, {'timestamp': 1535765400000, 'value': 15.7}, {'timestamp': 1535766000000, 'value': 15.7}, {'timestamp': 1535766600000, 'value': 15.6}, {'timestamp': 1535767200000, 'value': 15.7}, {'timestamp': 1535767800000, 'value': 15.7}, {'timestamp': 1535768400000, 'value': 15.8}, {'timestamp': 1535769000000, 'value': 15.7}, {'timestamp': 1535769600000, 'value': 15.9}, {'timestamp': 1535770200000, 'value': 15.7}, {'timestamp': 1535770800000, 'value': 15.6}, {'timestamp': 1535771400000, 'value': 15.4}, {'timestamp': 1535772000000, 'value': 15.4}, {'timestamp': 1535772600000, 'value': 15.2}, {'timestamp': 1535773200000, 'value': 14.6}, {'timestamp': 1535773800000, 'value': 14.5}, {'timestamp': 1535774400000, 'value': 14.4}, {'timestamp': 1535775000000, 'value': 14.2}, {'timestamp': 1535775600000, 'value': 14.2}, {'timestamp': 1535776200000, 'value': 14.2}, {'timestamp': 1535776800000, 'value': 14.2}, {'timestamp': 1535777400000, 'value': 14.1}, {'timestamp': 1535778000000, 'value': 14.0}, {'timestamp': 1535778600000, 'value': 14.1}, {'timestamp': 1535779200000, 'value': 14.2}, {'timestamp': 1535779800000, 'value': 14.1}, {'timestamp': 1535780400000, 'value': 14.1}, {'timestamp': 1535781000000, 'value': 14.1}, {'timestamp': 1535781600000, 'value': 14.1}, {'timestamp': 1535782200000, 'value': 14.2}]

In [3]:
df= pd.DataFrame(data)
print(df.head())

       timestamp  value
0  1535764800000   15.8
1  1535765400000   15.7
2  1535766000000   15.7
3  1535766600000   15.6
4  1535767200000   15.7

# #2 Data acquisition - pandas

In [4]:
dataPanda=pd.read_json(URL)
print(dataPanda.head())

            timestamp  value
0 2018-09-01 01:20:00   15.8
1 2018-09-01 01:30:00   15.7
2 2018-09-01 01:40:00   15.7
3 2018-09-01 01:50:00   15.6
4 2018-09-01 02:00:00   15.7

In [5]:
print(dataPanda.dtypes)

timestamp    datetime64[ns]
value               float64
dtype: object

# #3 Store data using pandas

In [6]:
dataPanda.to_json("dataNew.json", orient="records")

# #4 Reading stored data

In [7]:
dataReading = pd.read_json('dataNew.json')
print(dataReading.head())

            timestamp  value
0 2018-09-01 01:20:00   15.8
1 2018-09-01 01:30:00   15.7
2 2018-09-01 01:40:00   15.7
3 2018-09-01 01:50:00   15.6
4 2018-09-01 02:00:00   15.7

In [8]:
dataReading.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  30 non-null     datetime64[ns]
 1   value      30 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 608.0 bytes

In [9]:
dataReading.describe()

           value
count  30.000000
mean   14.873333
std     0.745068
min    14.000000
25%    14.200000
50%    14.550000
75%    15.700000
max    15.900000